@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

:root{
    --fonte01:"Passion One", sans-serif;

    --fonte02: "Sriracha", cursive;
;

}

html,body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2.5vw;
}

header h1{
    padding-top: 10px;
    font-variant: small-caps;
    font-family: var(--fonte01);
    
}

header p{
    padding-bottom: 10px;
    color: white;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10px;
    line-height: 2em;
    font-family: var(--fonte02);
    font-size: 2.5vw;
}

section.normal{
    background-color: white;
    
}

section.imagem{
    background-color: gray;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.308);

}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(63, 63, 63, 0.438);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.384);
}

#img01{
    background-image: url('../imagens/background001.jpg');
    background-size: cover;
    background-position: right center;
}

#img02{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
    background-position: right center;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}